html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1REM = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}
.contenedor {
  max-width: 120rem;
  margin: 0 auto;
}
img {
  max-width: 100%;
  display: block;
}
.card-border-radiuos {
  border-radius: 5rem;
}
.pokemon-image{
  max-width: 50%;
}
.card{
  transition: .3s all;
}
.card:hover{
  transform: translateY( -5px );
}

.pokemon-id
{
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 3.5rem;
    color: rgba( 255,255,255,.55 );
}
/*
    Pokemon type colors
*/
.type-normal {
  background-color: #c2c2a1;
}

.type-flying {
  background-color: #bab0d5;
}

.type-ghost {
  background-color: #735797;
}

.type-dark {
  background-color: #333;
}

.type-steel {
  background-color: #ccccde;
}

.type-ground {
  background-color: #b1736c;
}

.type-poison {
  background-color: #7c538c;
}

.type-grass {
  background-color: #48d0b0;
}

.type-fire {
  background-color: #fb6c6c;
}

.type-electric {
  background-color: #ffd86f;
}

.type-fairy {
  background-color: #f469a9;
}

.type-bug {
  background-color: #c3ce75;
}

.type-fighting {
  background-color: #d6b591;
}

.type-water {
  background-color: #609fb5;
}

.type-psychic {
  background-color: #9b7fa6;
}

.type-ice {
  background-color: #7fccec;
}

.type-rock {
  background-color: #a6aab6;
}

.type-dragon {
  background-color: #f9be00;
}

/*
    Background Pokeball decoration
*/
.bg-pokeball
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 7px;
    bottom: 6px;
    font-size: 10px;
    color: rgba( 255,255,255,.2 );
}

.bg-pokeball::before, .bg-pokeball::after
{
    display: block;
    border-radius: 100%;
}

.bg-pokeball::before
{
    content: '';
    position: relative;
    width: 14rem;
    padding-bottom: 7rem;
    border: 4em solid currentColor;
    clip-path: polygon( 0 0, 0 40%, 50% 40%, 50% 60%, 0 60%, 0 100%, 100% 100%, 100% 60%, 50% 60%, 50% 40%, 100% 40%, 100% 0 );
}

.bg-pokeball::after
{
    content: '';
    position: absolute;
    width: 5em;
    padding-bottom: 5em;
    background-color: currentColor;
}


